.Settings {
  overflow: hidden;

  height: calc(100% - 70px);

  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  background-color: #1a1f2580;
}

.Settings-Header {
  padding: 6px;
  padding-bottom: 4px;

  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  text-align: center;
}

.Settings-Items {
  overflow: hidden;

  border-radius: 8px;
  height: calc(100% - 25px);

  background-color: #1a1f254b;
}

.Settings-Items ul {
  overflow-y: scroll;
  margin: 5px;

  height: calc(100% - 10px);
}

.Settings-Items-Header {
  transition: 0.1s;
  padding: 0 10px 0 10px;

  width: calc(100% - 25px);
  min-height: 40px;

  border-radius: 8px;

  line-height: 12.5px;
}

.Settings-Items-Header:hover {
  cursor: pointer;

  background-color: #1a1f254b;
}

.Settings-Items-Content {
  padding: 0 10px 10px 10px;
  margin-bottom: 5px;

  width: calc(100% - 25px);
  min-height: 20px;

  line-height: 12.5px;
  border-radius: 0 0 8px 8px;

  background-color: #1a1f254b;
}

.Settings div h1 {
  padding-top: 7px;

  width: calc(100% - 20px);
}

.Settings div p {
  margin-top: 3px;
  font-size: 10px;

  width: calc(100% - 20px);

  font-style: italic;
  color: rgba(255, 255, 255, 0.644);
}

.Settings-Icon {
  transition: 0.2s;

  float: right;
  margin-top: 11px;

  height: 17.5px;
}
