.NavBar {
    width: 100%;
    height: 50px;

    background-color: #393e46;
}

.NavBar button {
    margin: 5px;
    margin-right: 0px;

    width: calc(20% - 6px);
    height: calc(100% - 12.5px);

    border-radius: 6px;

    color: #4ecca3;

    background-color: #232931;
}

#NavBar-Active {
    position: relative;
    left: 5px;

    width: calc(20% - 6px);
    height: 2.5px;

    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    background-color: #4ecca3;
}
