.TitleBar {
    -webkit-app-region: drag;

    position: relative;

    padding-left: 5px;
    padding-right: 5px;

    width: calc(100% - 10px);
    height: 25px;

    line-height: 25px;

    background-color: #232931bf;
}

#Favicon {
    float: left;
    padding-top: 5px;

    width: 14.5px;
    height: 14.5px;
}

.TitleBar * {
    font-size: 16px;
}

.TitleBar-Title {
    float: left;
    padding-left: 4px;
}

.TitleBar-Controls {
    position: absolute;
    top: 0;
    right: 0;

    min-width: 30px;
    height: 100%;
}

.TitleBar-Controls button {
    margin-right: 6px;

    width: 14.5px;
    height: 10.6px;

    border-radius: 5px;
}

.TitleBar-Controls * {
    -webkit-app-region: none;
}
